{% extends "layout.html" %}


{% block title %}
    Homepage
{% endblock %}


{% block main %}
    <div>
        <table class="table table-striped table-dark table-bordered">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                
                <!-- List all holdings for the given user -->
                {% set accumulator = namespace( total = 0) %}
                {% for row in portfolios_table %}

                    {% set price = lookup(row["symbol"])["price"] %}
                    <tr>
                        <td name="symbol">{{ row["symbol"] }}</td>
                        <td>{{ row["name"] }}</td>
                        <td>{{ row["shares"] }}</td>
                        <td>{{ usd(price) }}</td>
                        <td>{{ usd((row["shares"] * price)) }}</td>

                    </tr>

                    {% set accumulator.total = (row["shares"] * price) + (accumulator.total // 1) %}

                {% endfor %}
            </tbody>
                <!-- THEN, create last 2 row items for their cash and total assets -->
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Cash</strong></td>
                    <td>{{ usd((current_cash / 100)) }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Total</strong></td>
                    <!-- current cash is in non-cent format, but acctotal is, so have to account for that -->
                    <td>{{ usd(((current_cash + accumulator.total * 100) / 100)) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}